<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileInfo">
	
	<select id="selectAll" resultType="spring.model.FileInfo">
		select * from fileinfo
	</select>
	
	<insert id="insert" parameterType="spring.model.FileInfo">
		insert into fileinfo values	(#{path},#{name},sysdate,#{filesize})
	</insert>
	<select id="selectRealName" parameterType="String" resultType="spring.model.FileInfo">
		select * from fileinfo where path like '%' || #{filename} || '%'
	</select>
</mapper>