<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZipcodeInfo">
	
	<select id="selectAll" resultType="spring.model.ZipcodeCommand">
		select * from zipcode
	</select>
	<select id="selectInfo" parameterType="String" resultType="spring.model.ZipcodeCommand">
		select * from zipcode where area4 like '%' || #{area4} || '%'
	</select>

</mapper>